{% extends "layout.html" %}
{% block body %}
<body>

    <div class="text-center" style="margin: 0 auto; padding: 20px;">

        <div style="max-width: 800px; margin: 0 auto;" class="mt-5">
            <h1 style="padding-bottom: 20px;">About Us</h1>
            <h2 class="text-decoration-underline">Welcome to Shortieee!</h2>
            <p class="lead">Our platform harnesses the power of Flask, a Python module, to provide personalized news content tailored to each user's preferences. With our sophisticated system, users can effortlessly stay informed about the latest news topics that matter most to them. Join our community today and experience a seamless, intuitive, and personalized news browsing experience unlike any other!.</p>
        </div>

        <div style="max-width: 800px; margin: 0 auto;">
            <h2 class="text-decoration-underline">Our Mission</h2>
            <p class="lead">Our mission is to empower users with easy access to relevant news articles tailored to their interests. We understand the importance of staying informed in today's fast-paced world, and we aim to simplify the process of finding and consuming news content.</p>
        </div>

        <div style="max-width: 800px; margin: 0 auto;">
            <h2 class="text-decoration-underline">Our Vision</h2>
            <p class="lead">Our platform operates on a user-driven search system. When users enter their search queries, our platform utilizes a universal API key to interact with external news APIs. This allows us to fetch real-time news articles from a wide range of sources and present them to users in a single, easily accessible web page.</p>
        </div>

        <div style="max-width: 800px; margin: 0 auto;">
            <h2 class="text-decoration-underline">Powered by Flask</h2>
            <p class="lead">Built on the Flask framework, our website delivers a seamless browsing experience. Flask's flexibility and scalability enable us to create a dynamic platform that responds to user input in real time. With Flask, we're able to efficiently manage user requests and deliver accurate search results without sacrificing performance.</p>
        </div>

        <div style="max-width: 800px; margin: 0 auto;">
            <h2 class="text-decoration-underline">Personalized Search Experience</h2>
            <p class="lead">We believe in the power of personalized search. Our platform analyzes user search queries to understand their interests and preferences, ensuring that the news articles displayed are highly relevant to each user's needs. Whether you're searching for the latest headlines, specific topics, or trending stories, our platform is designed to deliver tailored results that match your interests.</p>
        </div>

        <img src="static/aboutus.jpg" alt="About Us Image" class="mt-4" width="350" style="margin-bottom: 20px;">

        <div style="max-width: 800px; margin: 0 auto;">
            <h2 class="text-decoration-underline mt-2">Feedback</h2>
            <p class="lead">We value your feedback! If you have any suggestions, questions, or concerns, please feel free to reach out to us. Your input helps us improve our services and better serve our community.</p>
        </div>

        <a href="mailto:bandhanmajumder16@gmail.com?subject=Feedback" class="mt-2 mb-4 btn btn-primary btn-lg" type="submit">Email Me</a>

    </div>
{% endblock %}

